<%- include("header"); -%>

<h2>This is about page!</h2>


<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus culpa temporibus, deleniti dignissimos consequatur nostrum, pariatur architecto eligendi officiis id illum eaque placeat quae perferendis magni qui voluptatum. Nam, expedita?</p>


<%- include("footer") -%>